  PORT=3000
  MONGO_URI=mongodb://localhost:27017/dtableanalytics
  NODE_ENV=development
  JWT_SECRET=mysecretkeyforjwt
  CLIENT_URL=http://localhost:5173

   GEOFENCING_LAT=12.958765
   GEOFENCING_LON=24.031587
   GEOFENCING_RADIUS=500